@using RazorGrid;
@{
    ViewBag.Title = "Index";
    Model.Caption = "Simple Logs";
}
<h2>Index</h2>

@JqGrid(
    caption: "Simple logs",
    options: @Model
)

@helper JqGrid(string caption, JqGridOptions options)
    {
    <table id="grid">
    </table>
    <div id="pager">
    </div>
    <script type="text/javascript" language="javascript">
        jQuery("#grid").jqGrid({
            @Html.Raw(options.ToJson().Trim('{', '}')),
            pager: "#pager",
            width: 700,
            height: 100
        });
        jQuery("#grid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false }); 
    </script>
}
